body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: black;
    color: white;
}
h1,h2,h5 {
    font-family: 'Bebas Neue', cursive;
}
.marca {
    font-family: 'Bebas Neue', cursive;
}
.centrado {
    display: flex;
    justify-content: center;
}
.navbar{
    background-color: #29cfc7;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: transparent !important;
}
.carousel-item img {
    height: 700px;
}
hr {
    background-color: var(--info);
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 200;
    color: var(--info);
}
#carrusel div {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
}
.card-body {
    background-color: var(--info);
}
#destacados img {
    height: 190px;
}
#sobre-nosotros {
    color: #3092d3;
    font-family: Open Sans;
    line-height: 3;
}

img.redimension {
  width:200px;
  height:40px;
}
.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#footer {
    color: white;
    text-decoration: none;
}
